@page
@model BTL_Ninh_Kho.Pages.Warehouse.CreateImportModel
@{
    ViewData["Title"] = "Danh sách nhập kho";
}

<div class="mt-3">
    <h5 class="fw-bold">Danh sách phiếu nhập kho</h5>
    <div class="d-flex">
        <button class="tab-btn active">Đã nhập kho</button>
        <button class="tab-btn">Đã hủy bỏ</button>
    </div>

    <div class="tab-container mt-2">
       
        <a href="/Warehouse/warehouseReceipt"> <button class="btn btn-danger mb-3">Thêm mới phiếu nhập kho</button></a>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID phiếu nhập</th>
                    <th>ID đơn nhập</th>
                    <th>Kho nhập</th>
                    <th>Ngày nhập</th>
                    <th>Trạng thái đơn</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListImports != null && Model.ListImports.Any())
                {
                    foreach (var import in Model.ListImports)
                    {
                        <tr>
                            <td>@import.ID</td>
                            <td>@import.SupplierId</td> 
                            <td>@import.Warehouse.Name</td>
                            <td>@import.ImportDate.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (import.Status == 1)
                                {
                                    <span class="badge bg-success">Chờ duyệt</span>
                                }
                                else if (import.Status == 2)
                                {
                                    <span class="badge bg-warning">Đã duyệt</span>
                                }
                                else if (import.Status == 3)
                                {
                                    <span class="badge bg-primary">Đã hoàn thành</span>
                                }
                                
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center">Không có dữ liệu</td>
                    </tr>
                }
            </tbody>        
        </table>
    </div>
</div>
